.Dropzone {
    height: 32px;
    width: 35px;
    background-color: #fff;
    color: 	#008080;
    border: 2px solid 	#008080;
    border-radius: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 16px;
}

.Icon {
    opacity: 0.3;
    height: 64px;
    width: 64px;
}

.FileInput {
    display: none;
}

.Highlight {
    background-color: rgb(188, 185, 236);
}