.Upload {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: flex-start;
    text-align: left;
    overflow: hidden;
}

.Content {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    width: 100%;
}

.Files {
    margin-left: 12px;
    align-items: flex-start;
    justify-items: flex-start;
    flex: 2;
    overflow-y: auto;
}

.Actions {
    display: flex;
    flex: 1;
    width: 100%;
    align-items: flex-end;
    flex-direction: column;
}

.Filename {
    margin-left: 8px;
    margin-bottom: 8px;
    font-size: 16px;
}
  
.Row {
    display: flex;
    flex: 1;
    height: 36px;
    padding: 8px;
    overflow: hidden;
    box-sizing: border-box;
}

.Row.success {
    color: #36b36f;
}

.Row.error {
    color: #ff0000;
}