.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.cursor-pointer {
  cursor: pointer;
}

.wordbreak {
  overflow-wrap: break-word;
}

.underline {
  text-decoration: underline;
}

.error {
  color: #ff0000;
}

.success {
  color: #36b36f;
}

.font-size-14 {
  font-size: 14px !important;
}

.title-header {
  color: #fff;
  margin: 10px 0;
}

.arcgis-online-authentication-panel {
  width: 95%;
  margin: 10px 2.5%;
  border: 1px solid transparent;
}

.header {
  font-size: 15px;
  font-weight: normal;
}

.arcgis-online-authentication-panel.error {
  border: 1px solid #ff0000;
}

.arcgis-online-authentication-panel.success {
  border: 1px solid #36b36f;
}

.ArcGIS-Authentication-form {
  width: 100%;
}

.ArcGIS-Authentication-form > .form-content {
  display: inline-block;
  width: 48%;
  margin: 5px;
}

.ArcGIS-Authentication-form > .form-content > div > .input-field {
  margin: 8px;
}

.ArcGIS-Authentication-form > .form-content > div > .input-field.full {
  width: 95%;
}

.ArcGIS-Authentication-form > .response-content {
  display: inline-block;
  vertical-align: top;
  border: 1px solid white;
  border-radius: 10px;
  background-color: #999999;
  width: 45%;
  margin: 5px;
  height: 50%;
  font-size: 14px;
  padding: 10px;
}

.ArcGIS-Authentication-form > .response-content.success-submit {
  border: 1px solid #36b36f;
}

.ArcGIS-Authentication-form > .response-content.fail-submit {
  border: 1px solid #ff0000;
}

.ArcGIS-Authentication-form > .button-content {
  margin: 13px;
}

.file-upload-panel {
  width: 95%;
  margin: 10px 2.5%;
  border: 1px solid transparent;
}

.file-upload-content-details {
  flex-direction: column;
}

.file-upload-content-details > .Upload {
  margin: 0 13px 20px;
}

.file-upload-content-details > .table-content {
  margin: 0 13px;
}

.file-upload-content-details > .table-content > .publish-button {
  margin: 10px 0;
}

.add-routes-response-content {
  display: inline-block;
  vertical-align: top;
  border: 1px solid white;
  border-radius: 10px;
  background-color: #999999;
  width: 100%;
  margin: 5px;
  height: 50%;
  font-size: 14px;
  padding: 10px;
}

.add-routes-response-content.success-submit {
  border: 1px solid #36b36f;
}

.add-routes-response-content.fail-submit {
  border: 1px solid #ff0000;
}